*{
    margin: 0px;
    padding:0px;
  }
  body{
    background-color:darkslategray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
  }
  h1,h2{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    color:ghostwhite;
    padding-bottom: 20px;
  }
  #p1{
    font-size: 30px;
  }
  .intro{
    margin: 10px;
    padding-top: 50px;
    padding-right: 400px;
    padding-bottom: 400px;
    padding-left: 400px;
    text-align: center;
    height: 80px;
    background-color: cornflowerblue;
    background-image: url("images/cost.jpg");
    background-repeat: no-repeat;
    background-size: 1600px;
    border: 20px;
    border-radius: 20px;
  }
  
  .pofoi{
    height:800px;
    background-color: cadetblue;
    margin: 10px;
    padding-top: 50px;
    padding-right: 400px;
    padding-bottom: 400px;
    padding-left: 400px;
    text-align: center;
    border: 20px;
    border-radius: 20px;
  }
  img{
    height: 200px;
    width: 300px;
    padding-bottom: 20px;
    padding-top: 20px;
    
  }
  #p2{
    text-align: center;
  
  }
  .photo{
    height: 500px;
    width: 1300px;
    margin: 40px;
    
    
  }
  .col {
    float: left;
    
  }
  .services{
    height:500px;
    width: 1440px;
    background-color:slategray;
    border: 20px;
    border-radius: 20px;
    margin: 20px;
    padding-left: 30px;
  }
  .ser{
    padding-left: 60px;
    font-size: 20px;
    font-weight: bolder;
  }
  .info{
    background-color:grey;
    padding: 30px;
    margin: 20px;
    height: 1000px;
    width: 1410px;
    border: 20px;
  border-radius: 20px;
  }
  .add{
    border-radius: 5px;
    height: 400px;
    padding-left: 300px;
    font-weight: bold;
    font-size: 20px;
    color:black
    
    
  }