*{
    margin: 0px;
    padding:0px;
  }
  body{
    background-color:darkslategray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
  }
  h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    color:ghostwhite;
    padding-bottom: 20px;
  }
  #p1{
    font-size: 30px;
  }
  